{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="col-md-12">
    <div class="richierechner panel panel-default">
        <div class="panel-heading">Zeitraum:</div>
        <div class="panel-body">
            <form action="/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>

<div class="col-md-5">
    <div class="richierechner panel panel-default">
        <div class="panel-heading">
            Ausgaben MBW
        </div>
        <div class="panel-body">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ausgaben</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in MBW_ausgaben %}
                    <tr>
                        <td>{{ item.0 }}</td>
                        <td >{{ item.1 }} €</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <th>Gesamt</th>
                        <th>{{ summe_MBW_ausgaben }} €</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="col-md-7">
    <div class="richierechner panel panel-default">
        <div class="panel-heading">
            Ausgaben
        </div>
        <div class="panel-body">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Datum</th>
                        <th>Bezahlt</th>
                        <th>Wert</th>
                        <th><a href="/note_ausgabe/0"><img src="{% static 'images/note.png' %}" alt="N" ></a></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ausgabe in ausgaben %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ ausgabe.datum }}</td>
                        <td>{{ ausgabe.mitbewohni.username }}</td>
                        <td>{{ ausgabe.wert }} €</td>
                        <td><a href="/note_ausgabe/{{ ausgabe.id }}"><img src="{% static 'images/note.png' %}" alt="N" ></a></td>
                        <td><a href="/delete_ausgabe/{{ ausgabe.id }}/o"><img src="{% static 'images/delete.png' %}" alt="L" ></a></td>
                        {% if notiz_ausgabe_id == ausgabe.id or notiz_ausgabe_id == 0 %}
                        <tr>
                            <td></td>
                            <td align="right">Notiz:</td>
                            <td colspan="4">{{ ausgabe.notiz }}</td>
                        </tr>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <th colspan="3">Gesamt</th>
                        <th>{{ summe_ausgaben }} €</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="col-md-7 col-md-offset-5">
    <div class="richierechner panel panel-default">
        <div class="panel-heading">
            Ausgleichszahlungen
        </div>
        <div class="panel-body">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Datum</th>
                        <th>Von</th>
                        <th>An</th>
                        <th>Wert</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for agz in agzs %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ agz.datum }}</td>
                        <td>{{ agz.von.username }}</td>
                        <td>{{ agz.an.username }}</td>
                        <td>{{ agz.wert }} €</td>
                        <td><a href="/delete_agz/{{ausgabe.id}}/o"><img src="{% static 'images/delete.png' %}" alt="L" ></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}